mixin chboxButtons(arrText)
  .chboxButtons
    .chboxButtons__title checkbox buttons
    .chboxButtons__content
      each val in arrText
        +chboxButtonsItems(val)

          


mixin chboxButtonsItems(text)
  label.chboxButtons__item #{text}
    input(class="chboxButtons__input" type='checkbox')
    img(class="chboxButtons__check" src=require("./misc/images/check-gradient.svg"), alt="check" width="12" height="10")
    span.chboxButtons__checkmark