@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

.textField__input {
  margin-top: 5px;
  width: 320px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  @include placeholder {
    color: $darkShade25;
    text-indent: 15px;
    @include mixinFont($montserrat, normal, 14, 18);
    // font-size: 22px;
    // line-height: 15px;
  }
  &:hover,
  &:focus {
    border: 1px solid rgba(31, 32, 65, 0.5);
    @include placeholder {
      color: $darkShade75;
      text-indent: 15px;
      @include mixinFont($montserrat, normal, 14, 24);
    }
  }
}
.textField__input_focused {
  margin-top: 5px;
  width: 320px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  @include placeholder {
    color: $darkShade75;
    text-indent: 15px;
    @include mixinFont($montserrat, normal, 14, 24);
  }
  &:hover,
  &:focus {
    border: 1px solid rgba(31, 32, 65, 0.5);
    @include placeholder {
      color: $darkShade75;
      text-indent: 15px;
      @include mixinFont($montserrat, normal, 14, 24);
    }
  }
}
