.rangeSlider {
  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
  }
  &__amount {
    @include textFieldState;
  }
  &__handle {
    margin-top: -1px;
    width: 12px !important;
    height: 12px !important;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%) !important;
    border: 2px solid #ffffff !important;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
  }
  &__track {
    // padding-top: 4px !important;
    width: 266px;
    height: 6px !important;
    border: 1px solid rgba(31, 32, 65, 0.25) !important;
    box-sizing: border-box !important;
    border-radius: 3px !important;
  }
  &__range {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%) !important;
    box-sizing: border-box !important;
    height: 6px !important;
    margin-top: -1px;
  }
}
