mixin rangeSlider()
  .rangeSlider
    .rangeSlider__box
      +titleH3("Range Slider")       
      input.rangeSlider__amount(type='text', readonly='', style='border:0; color:#f6931f; font-weight:bold;')
    div#slider-range  
    