@import "./text_field/text_field.scss";
@import "./dropdown/dropdown.scss";
@import "./dateDd/dateDd.scss";

.form_elements {
  position: relative;
  width: 1440px;
  height: 1853px;
  background: white;
  margin: auto;
}
.column_container {
  width: 320px;
  height: 600px;
  position: absolute;
  left: 141px;
  top: 163px;
  // border: 1px solid black;
}
.itemBlock {
  // height: 84px;
  position: relative;
  // overflow: hidden;
  // overflow: visible;
  margin-bottom: 15px;
  // height: 150px;
  // background: #66cdaa;
}
// .itemBlock > ul {
//   position: absolute;
// }

//text decoration
.textField__title {
  font-family: $montserrat;
  font-style: normal;
  font-weight: bold;
  color: $darkShade;
  font-size: 12px;
  line-height: 15px;
  float: left;
  text-transform: uppercase;
  // display: block;
  position: static;
}
.textField__state {
  font-family: $montserrat;
  font-style: normal;
  font-weight: normal;
  color: $darkShade50;
  font-size: 12px;
  line-height: 15px;
  float: right;
  text-transform: uppercase;
}
