@import "./text_field/text_field.scss";
@import "./dropdown/dropdown.scss";
@import "./dateDd/dateDd.scss";
@import "./filterDateDd/filterDateDd.scss";
@import "./subTextField/subTextField.scss";
@import "./expandableCheckboxList/expChboxList.scss";

.form_elements {
  position: relative;
  width: 1440px;
  height: 1853px;
  background: white;
  margin: auto;
}
.toxin__logo {
  position: absolute;
  top: 30px;
  left: 30px;
}
.column_container {
  width: 320px;
  height: 900px;
  position: absolute;
  left: 141px;
  top: 140px;
  // border: 1px solid black;
}
.itemBlock {
  position: relative;
  margin-bottom: 15px;
}

.itemBlockFDd {
  position: relative;
  margin-top: 35px;
}

.itemTwoBlocks {
  position: relative;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}
.itemBlockBox {
  display: inline-block;
  overflow: hidden;
}
.itemBlockDd {
  position: relative;
  margin-top: 100px;
}
// .itemBlock > ul {
//   position: absolute;
// }

//text decoration
.textField__title {
  font-family: $montserrat;
  font-style: normal;
  font-weight: bold;
  color: $darkShade;
  font-size: 12px;
  line-height: 15px;
  float: left;
  text-transform: uppercase;
  // display: block;
  position: static;
}
.textField__state {
  font-family: $montserrat;
  font-style: normal;
  font-weight: normal;
  color: $darkShade50;
  font-size: 12px;
  line-height: 15px;
  float: right;
  text-transform: uppercase;
}
