include /text_field/text_field.pug
include /dropdown/dropdown.pug
include /dateDd/dateDd.pug
include /filterDateDd/filterDateDd.pug
include /subTextField/subTextField.pug
include /expandableCheckboxList/expChboxList.pug
include /Icon_Text_List/iconText.pug
include /chbox_buttons/chboxButtons.pug
include /radio_buttons/radioButtons.pug
include /toggle/toggle.pug
include /like_buttons/likeButtons.pug
include /rate_buttons/rateButtons.pug
include /range_slider/rangeSlider.pug


-
  var optArr={rooms:[{itemText:'спальни',itemValue:0}, {itemText:'кровати',itemValue:0},{itemText:'ванные комнаты',itemValue:0}],guests:[{itemText:'взрослые',itemValue:0}, {itemText:'дети',itemValue:0},{itemText:'младенцы',itemValue:0}],}
.form_elements
  img(class="toxin__logo" src=require("./misc/images/toxin__logo.svg"),  width='48', height='48', alt='toxin-logo')     
  .column_container
    .itemBlock
      +textField('textField',"text field","default","Email")(class="textField__input")
    .itemBlock
      +textField('textFieldFocused',"text field","Hover/Focus ","This is pretty awesome")(class="textField__input_focused")
    .itemBlock
      +dropdown('one',"dropdown","default ","Сколько гостей",optArr.guests,"bigBlock")(class="dropdown__input")
    .itemBlock
      +textField('MaskedTextField',"masked text tield","default","ДД.ММ.ГГГГ")(class="textField__input")
    .itemTwoBlocks    
      .itemBlockBox
        +dateDd('MaskedTextField',"date dropdown","default","ДД.ММ.ГГГГ")(class="dateDd__input")
      .itemBlockBox
        +dateDd('MaskedTextField',"date dropdown","default","19.08.2019")(class="dateDd__input")
    .itemBlockFDd
      +filterDateDd('MaskedTextField',"filter date dropdown","default","19 авг - 23 авг")(class="dateDd__input")
    .itemBlockFDd
      +subTextField('subTextField',"Subscription Text Field ","Email")(class="subTextField__input")
    .itemBlockDd
      +dropdown('two',"dropdown","default ","Сколько гостей",optArr.rooms,"smallBlock")(class="dropdown__input")
    .itemBlockDd(style="margin-top:28px")
      +dropdown('three',"dropdown","default ","Сколько гостей",optArr.rooms,"smallBlock")(class="dropdown__input")
    .itemBlockDd(style="margin-top:172px")
      +expChboxList(["Завтрак","Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь","Телевизор", "Шампунь" ])
    .itemBlockDd(style="margin-top:50px")
      +expChboxList(["Завтрак","Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь","Телевизор", "Шампунь" ])
    .itemBlockDd(style="margin-top:260px")
      +iconText
  .column_container
    .itemBlockDd(style="margin-top:0px")
      +chboxButtons(["Можно курить","Можно с питомцами"," Можно пригласить гостей (до 10 человек)"])
    .itemBlockDd(style="margin-top:155px")
      +radioButtons(["Мужчина","Женщина"])
    .itemBlockDd(style="margin-top:75px")
      +toggle
    .itemBlockDd(style="margin-top:44px")
      +likeButtons(["2","12"])
    .itemBlockDd(style="margin-top:44px")
      +rateButtons()

  .column_container
    .itemBlockDd(style="margin-top:0")
      +rangeSlider()
    

  
