include /text_field/text_field.pug
include /dropdown/dropdown.pug

-
  var optArr=[{itemText:'Взрослые',itemValue:0}]
  //- var optArr=[{itemText:'Взрослые',itemValue:0},       {itemText:'Дети',itemValue:0},{itemText:'Младенцы',itemValue:0}]
.form_elements      
  .column_container
    .itemBlock
      +textField('textField',"text field","default","Email")(class="textField__input")
    .itemBlock
      +textField('textFieldFocused',"text field","Hover/Focus ","This is pretty awesome")(class="textField__input_focused")
    .itemBlock
      +dropdown('one',"dropdown","default ","Сколько гостей",optArr)(class="dropdown__input")
    