$darkShade: #1f2041;
$darkShade75: rgba(31, 32, 65, 0.75);
$darkShade50: rgba(31, 32, 65, 0.5);
$darkShade25: rgba(31, 32, 65, 0.25);
$darkShade05: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;
