@font-face {
  font-family: "Quicksand";
  font-weight: 700;
  src: url("misc/fonts/Quicksand-Bold.ttf");
}
@font-face {
  font-family: "Quicksand";
  font-weight: 400;
  src: url("misc/fonts/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("misc/fonts/Montserrat-Regular.ttf");
}

$quicksand: "Quicksand", sans-serif;
$montserrat: "Montserrat", sans-serif;

@mixin mixinFont($font, $weight, $size, $height) {
  font-family: $font;
  font-style: normal;
  font-weight: $weight;
  font-size: #{$size} px;
  line-height: #{$height} px;
}
