$colorMaps: (
  1: $darkShade,
  2: $darkShade75,
  3: $darkShade50,
  4: $darkShade25,
  5: $darkShade05,
  6: $purple,
  7: $green
);

@mixin define_color($count, $color) {
  .colorsContainer > div:nth-child(#{$count}) > .colorBlock {
    background: $color;
  }
}

@each $key, $color in $colorMaps {
  @include define_color($key, $color);
}

.colorsTypes {
  background: #fff;
  position: relative;
  margin: auto;
  width: 1440px;
  height: 900px;
}
.colorsContainer {
  margin: 0;
  position: absolute;
  width: 269.26px;
  height: 610px;
  left: 150px;
  top: 145px;
}
.colorItem {
  padding-bottom: 15px;
  overflow: hidden;
}
.types {
  position: absolute;
  width: 403px;
  height: 321px;
  left: 846px;
  top: 145px;
  border: 1px solid black;
}

.colorBlock {
  position: relative;
  float: left;
  margin: 0;
  width: 70px;
  height: 70px;
  border-radius: 6px;
  // background: $darkShade;
}
.colorText {
  margin-left: 15px;
  margin-bottom: 7px;
  padding: 5px;
  position: relative;
  float: right;
  width: 159px;
  height: 57px;
}
// .colorText::after {
//   content: "";
//   display: block;
//   clear: both;
//   height: 0px;
//   visibility: hidden;
// }
.colorTitle {
  font-family: $quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 29px;
}
.colorHash {
  font-family: $quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 29px;
}
