// color styles
$colorMaps: (
  1: $darkShade,
  2: $darkShade75,
  3: $darkShade50,
  4: $darkShade25,
  5: $darkShade05,
  6: $purple,
  7: $green
);

@mixin define_color($count, $color) {
  .colorsContainer > div:nth-child(#{$count}) > .colorBlock {
    background: $color;
  }
}

@each $key, $color in $colorMaps {
  @include define_color($key, $color);
}

.colorsTypes {
  background: #fff;
  position: relative;
  margin: auto;
  width: 1440px;
  height: 900px;
}
.colorsContainer {
  margin: 0;
  position: absolute;
  width: 269.26px;
  height: 610px;
  left: 150px;
  top: 145px;
}
.colorItem {
  padding-bottom: 15px;
  overflow: hidden;
}

.colorBlock {
  position: relative;
  float: left;
  margin: 0;
  width: 70px;
  height: 70px;
  border-radius: 6px;
}
.colorText {
  margin-left: 15px;
  margin-bottom: 7px;
  padding: 5px;
  position: relative;
  float: right;
  width: 159px;
  height: 57px;
}
// .colorText::after {
//   content: "";
//   display: block;
//   clear: both;
//   height: 0px;
//   visibility: hidden;
// }
.colorTitle {
  font-family: $quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  // line-height: 29px;
}
.colorHash {
  font-family: $quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  // line-height: 29px;
}

//types styles
.typesContainer {
  position: absolute;
  width: 403px;
  height: 321px;
  left: 846px;
  top: 145px;
}

.typesItem {
  overflow: hidden;
  position: relative;
  padding-bottom: 40px;
  min-height: 15px;
  overflow: hidden;
}
.typesTitle {
  float: left;
  position: relative;
  font-family: $montserrat;
  font-style: normal;
  color: $darkShade25;
  font-weight: normal;
  width: 37px;
  text-align: right;
}
.typesText {
  position: relative;
  float: right;
  font-family: $quicksand;
  font-style: normal;
  color: $darkShade;
  font-weight: bold;
  text-align: left;
  width: 336px;
}
.label1 {
  font-size: 24px;
  // line-height: 29px;
}
.label2 {
  font-size: 19px;
  // line-height: 23px;
}
.label3 {
  font-size: 12px;
  // line-height: 15px;
}
.label4 {
  font-size: 14px;
  // line-height: 24px;
}
.titleH1 {
  font-size: 24px;
  // line-height: 30px;
}
.titleH2 {
  font-size: 19px;
  // line-height: 24px;
}
.titleH3 {
  font-family: $quicksand;
  font-style: normal;
  color: $darkShade;
  font-weight: bold;
  font-size: 12px;
  // line-height: 15px;
  text-transform: uppercase;
}
.body_text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $darkShade75;
}
@mixin H1() {
  font-family: $montserrat;
  font-style: normal;
  font-weight: normal;
  color: $darkShade25;
  font-size: 24px;
  // line-height: 29px;
}
