.colorsTypes
  .colorsContainer
    .colorItem
      .colorBlock
      .colorText
        .colorTitle Dark Shade 100%        
        .colorHash #1F2041
    .colorItem
      .colorBlock
      .colorText
        .colorTitle Dark Shade 75%        
        .colorHash #1F2041
    .colorItem
      .colorBlock
      .colorText
        .colorTitle Dark Shade 50%        
        .colorHash #1F2041
    .colorItem
      .colorBlock
      .colorText
        .colorTitle Dark Shade 25%        
        .colorHash #1F2041
    .colorItem
      .colorBlock
      .colorText
        .colorTitle Dark Shade 5%        
        .colorHash #1F2041
    .colorItem
      .colorBlock
      .colorText
        .colorTitle Purple        
        .colorHash #1F2041
    .colorItem
      .colorBlock
      .colorText
        .colorTitle Green       
        .colorHash #1F2041


  .types
    .types__title
    .types__text
