-
  var list = ["100", "75", "50", "25", "5"]

mixin item(persent)
  .colorItem
      .colorBlock
      .colorText
        .colorTitle Dark Shade #{persent}%        
        .colorHash #1F2041

.colorsTypes  
  .colorsContainer
    each val in list
      +item(val)    
    .colorItem
      .colorBlock
      .colorText
        .colorTitle Purple        
        .colorHash #BC9CFF
    .colorItem
      .colorBlock
      .colorText
        .colorTitle Green       
        .colorHash #6FCF97
  
  
  .typesContainer
    .typesItem
      .typesTitle.title1  H1
      .typesText.text1 This one is the sub-section or #[br] widget title
    .typesItem
      .typesTitle.title2  H2
      .typesText.text2 Next one is the item title inside #[br] widgets
    .typesItem
      .typesTitle.title3  H3
      .typesText.text3 This is a label or CTA text
    .typesItem
      .typesTitle.title4  Body
      .typesText.text4 This is the body text which is used for mos #[br]of the design, like paragraphs, lists, etc.
        
