-
  var list = ["100", "75", "50", "25", "5"]

mixin item(persent)
  .colorItem
      .colorBlock
      .colorText
        .colorTitle Dark Shade #{persent}%        
        .colorHash #1F2041

.colorsTypes  
  .colorsContainer
    each val in list
      +item(val)    
    .colorItem
      .colorBlock
      .colorText
        .colorTitle Purple        
        .colorHash #BC9CFF
    .colorItem
      .colorBlock
      .colorText
        .colorTitle Green       
        .colorHash #6FCF97
  .types
    .types__title
    .types__text
