.colorsTypes
  .colorsContainer
    .colorItem
      .colorBlock
      .colorText
        .colorTitle Dark Shade 100%        
        .colorHash #1F2041
    .colorBlock
    .colorText
      .colorTitle Dark Shade 100%        
      .colorHash #1F2041
        

  .types
    .types__title
    .types__text
