.dropdown__input {
  position: relative;
  margin-top: 20px;
  width: 320px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  text-indent: 15px;
  color: $darkShade25;

  @include mixinFont($montserrat, normal, 14, 44);
  &:hover,
  &:focus {
    border: 1px solid rgba(31, 32, 65, 0.5);
    color: $darkShade75;
    text-indent: 15px;
    @include mixinFont($montserrat, normal, 14, 44);
  }
  &::after {
    content: "";
    width: 10px;
    height: 10px;
    border-right: 2px solid $darkShade75;
    border-bottom: 2px solid $darkShade75;
    position: absolute;
    top: 12px;
    left: 290px;
    transform: rotate(45deg);
    cursor: pointer;
  }
}

.dropdown__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dropdown__item {
  @include mixinFont($montserrat, bold, 14, 40);
  height: 40px;
  text-indent: 15px;
  display: flex;
  justify-content: space-between;
  button {
    background: none;
    border-radius: 50%;
  }
}
