.dropdown__input {
  position: relative;
  margin-top: 20px;
  width: 320px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid $darkShade25;
  text-indent: 15px;
  color: $darkShade25;

  @include mixinFont($montserrat, normal, 14, 44);
  &:hover,
  &:focus {
    border: 1px solid $darkShade50;
    color: $darkShade75;
    text-indent: 15px;
    @include mixinFont($montserrat, normal, 14, 44);
  }
}
.dropdown__input_clicked {
  position: relative;
  margin-top: 20px;
  width: 320px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 4px 4px 0 0;
  border: 1px solid $darkShade50;
  text-indent: 15px;
  color: $darkShade75;

  @include mixinFont($montserrat, normal, 14, 44);
  &:hover,
  &:focus {
    border: 1px solid $darkShade50;
    color: $darkShade75;
    text-indent: 15px;
    @include mixinFont($montserrat, normal, 14, 44);
  }
}
.dropdown__arrowBox {
  width: 44px;
  height: 43px;
  float: right;
  cursor: pointer;
  &::after {
    content: "";
    width: 7px;
    height: 7px;
    border-right: 2px solid $darkShade50;
    border-bottom: 2px solid $darkShade50;
    position: absolute;
    top: 15px;
    left: 290px;
    transform: rotate(45deg);
  }
  &:hover::after {
    border-right: 2px solid $darkShade75;
    border-bottom: 2px solid $darkShade75;
  }
}
.dropdown__list {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-left: 1px solid $darkShade50;
  border-bottom: 1px solid $darkShade50;
  border-right: 1px solid $darkShade50;
  display: none;
}
.dropdown__item {
  @include mixinFont($montserrat, bold, 14, 40);
  height: 40px;
  text-indent: 15px;
  display: flex;
  justify-content: space-between;

  button {
    @include mixinFont($montserrat, normal, 18, 22);
    color: $darkShade25;
    text-align: center;
    background: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid $darkShade25;
    box-sizing: border-box;
    border-radius: 22px;
  }
}
.ddBtn_active {
  color: $darkShade50 !important;
  border: 1px solid $darkShade50 !important;
}

.dropdown__value {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-indent: 11px;
  align-items: center;
}
.dropdown__btnContainer {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
}
