mixin toggle()
  .toggle
    .toggle__title Toggle
    label.toggle__item Получать спецпредложения
      input(class="toggle__input" type="checkbox")
      span.toggle__slider
    label.toggle__item Получать спецпредложения
      input(class="toggle__input" type="checkbox")
      span.toggle__slider