mixin likeButtons(array)
  .likeButtons
    .likeButtons__title like button
    .likeButtons__itemBox
      each val in array
        +likeButtonsItem(val)
      

mixin likeButtonsItem (value)
  .likeButtons__item
        img(class="likeButtons__heart " src=require("./misc/images/like-heart.svg"), alt="like-heart")
        .likeButtons__number #{value}
        
        
        
        //width="12" height="12"