.likeButtons {
  position: relative;
}
.likeButtons__title {
  position: relative;
  font-family: $montserrat;
  font-style: normal;
  font-weight: bold;
  color: $darkShade;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 17px;
  text-transform: uppercase;
}
.likeButtons__item {
}
.likeButtons__heart {
}
.likeButtons__number {
}
