mixin iconText()
  .iconTextList
    .iconTextList__item
      .iconTextList__icon
        img(src=require("./misc/images/face.svg") alt="mini")        
      .iconTextList__text
        .iconTextList__title Комфорт
        .iconTextList__content Шумопоглощающие стены 
    .iconTextList__item
      .iconTextList__icon
        img(src=require("./misc/images/building.svg") alt="mini")
      .iconTextList__text
        .iconTextList__title Удобство 
        .iconTextList__content Окно в каждой из спален
    
