<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title My app width pug
  body
    //- main
    include pages/ui-kit/colorsType/index.pug
    include pages/ui-kit/form_elements/index.pug

      